div.service {
  width: 80vw;
  position: relative;
  margin: 15px;
  overflow: hidden;
  display: flex;
  padding: 4rem;
  background-color: #ec9819;
  border-radius: 20px;
  -webkit-box-shadow: inset 1px 2px 26px 18px rgba(245, 235, 245, 0.52);
  -moz-box-shadow: inset 1px 2px 26px 18px rgba(245, 235, 245, 0.52);
  box-shadow: inset 1px 2px 26px 18px rgba(245, 235, 245, 0.52);
  transform: translateY(-1000px);
  transition: all .5s;
}
div.active{
    transform: translateY(1px);
}
div.service .benefits_listitems {
 font-style: italic;
 color: white;
 margin-bottom: 1rem;
 font-size: 1.2em;
 transform: translateX(1000px);
 /* transition: all .5s; */
}

